@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700;800&display=swap');
*{box-sizing:border-box}
body{
margin:0;
background:#080810;
color:#fff;
font-family:Vazirmatn,Tahoma;
min-height:100vh
}
header{
width:90%;
margin:25px auto;
padding:20px;
border:1px solid #6331c2;
border-radius:20px;
background:#11101a;
display:flex;
justify-content:space-between
}
nav a{margin:10px;color:#caa7ff}
.card{
width:min(700px,90%);
margin:40px auto;
padding:30px;
background:#12101b;
border:1px solid #573783;
border-radius:25px
}
h1,h2{color:#b675ff}
input,textarea{
width:100%;
margin:8px 0;
padding:14px;
border-radius:12px;
border:1px solid #342449;
background:#090812;
color:white
}
textarea{height:120px}
button{
background:#8d4be0;
color:white;
border:0;
padding:14px 30px;
border-radius:12px;
cursor:pointer
}
.telegram{
text-align:center;
padding:40px;
border-top:1px solid #292033
}
.telegram img{
height:120px
}
