body{background:#080812;color:white;font-family:tahoma;text-align:center;padding:30px}
header,.box,.card,.status{border:1px solid #8a2cff;border-radius:20px;padding:20px;margin:20px}
.players{display:flex;justify-content:center;gap:20px;flex-wrap:wrap}.card{width:220px;height:100px}
span{color:#a855ff}